.campaign-body-wrapper {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-top: 2rem !important;
  max-width: 72rem;
  margin: 0 auto;
}

.campaign-grid-body {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 4fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header header header header header" "collage collage collage sidebar sidebar" ". description description sidebar sidebar" ". content content sidebar sidebar" ". reportbutton reportbutton sidebar sidebar" ". valueprops valueprops valueprops .";
  grid-gap: 1.5rem 2rem;
}

.p-campaign-collage {
  grid-area: collage;
}

.campaign-images {
  grid-template-areas: "imageone";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  display: grid;
  grid-gap: 2px;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.campaign-images li {
  grid-area: imageone;
}

.campaign-images li::marker {
  list-style-type: none;
}

.campaign-image-button {
  padding-top: 56.25% !important;
  border-radius: 0.25rem;
  cursor: pointer;
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: transparent;
  color: inherit;
  font-size: 1em;
  text-decoration: none;
  font-family: inherit;
  line-height: inherit;
  border: 0;
  padding: 0;
}

.campaign-image-background {
  position: absolute;
  top: 0;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.p-campaign-header {
  margin-top: 1rem;
  grid-area: header;
  margin-bottom: -0.25rem;
}

.a-campaign-title {
  margin-bottom: 0;
  font-size: 2.2rem;
  line-height: 1.2;
  display: block;
  font-weight: 900;
  margin-top: 0;
}

.p-campaign-description {
  margin-bottom: 1.5rem;
  position: relative;
  padding-bottom: 3rem;
  grid-area: description;
  margin-right: 5rem;
}

.campaign-description-header {
  margin-bottom: 1.5rem !important;
}

.campaign-story {
  font-size: inherit;
  max-height: inherit;
  overflow: hidden;
  line-height: 1.5;
  overflow-wrap: break-word;
  position: relative;
  word-break: break-word;
}

.campaign-story span {
  font-size: 1.0625rem;
}

.p-campaign-report-button {
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
  grid-area: reportbutton;
  justify-content: center;
}
