.donate-div {
  background: #fff;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin: 0 auto;
  margin-bottom: 0px;
  padding: 0 20px;
  width: 932px;
  margin-bottom: 50px !important;
}

.process-donation {
  background: #fff;
  width: 594px;
  border: 1px solid #e8e8e8;
  margin: 20px 150px;
  border-radius: 5px;
  float: left;
}

.process-header {
  align-items: center;
  display: flex;
  font-family: inherit;
  font-weight: 300;
  font-size: 36px;
  color: #666666;
  margin: 25px 30px 20px 30px;
}

.donation-box {
  margin-left: 10px;
  margin-right: 10px;
  height: 100px;
  position: relative;
  color: #15c7c7 !important;
  background: #eef3f3 !important;
}

.rupees-sign {
  float: left;
  height: inherit;
  width: 120px;
  padding-left: 10px;
  font-size: 80px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  font-family: inherit;
  font-weight: 400;
  letter-spacing: -3px;
  vertical-align: center;
}

.donation-amount {
  height: inherit;
  background: inherit;
  color: inherit;
  width: 330px;
  font-size: 80px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  border-left: 0;
  border-right: 0;
  font-family: inherit;
  padding-right: 10px;
  padding-left: 5px;
  letter-spacing: -5px;
  text-align: right;
  outline: none;
}

.zeros {
  padding-left: 0px;
  float: right;
}

.donation-form {
  float: left;
  padding-left: 30px;
  width: 535px;
  font-size: 20px;
}

.name-container {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.custom-hr {
  margin-bottom: 1rem !important;
}

.donate-description {
  margin-top: 0.4rem;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
}

.go-back-link {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.go-back-link button {
  font-size: 1rem;
  color: #15c7c7;
  text-decoration: none;
}

.donate-buttons {
  display: flex;
  justify-content: space-between;
}

.donate-buttons button {
  margin-right: 15px;
}
