.main-header {
  height: 3vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 4%;
  background-color: #fff;
  text-transform: uppercase;
}

.logo {
  text-transform: none;
  cursor: pointer;
  width: 50px;
  margin-right: auto;
  color: rgb(25, 175, 175);
}

button {
  font-weight: 500;
  font-size: 16px;
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(25, 175, 175, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: #edf0f1;
}

button:hover {
  background-color: rgba(25, 175, 175, 0.8);
}
