.main-wrapper {
  font-family: inherit;
  background: #f5f5f5;
  position: relative;
  padding: 4rem 1rem;
}
.auth-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 60rem;
}

.auth-content-container {
  background-color: #fff;
  box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.1);
  width: 75%;
}
