.custom-button {
  font-size: 1em;
  color: #fff;
  background: rgba(25, 175, 175, 0.8);
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  width: 100%;
  margin: 1rem 0 1rem 0;
  border: 1px solid transparent;
  line-height: 2rem;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.custom-button:hover {
  background: rgba(25, 175, 175, 1);
}

.facebook-button {
  background: #3b579d;
}

.facebook-button:hover {
  background-color: #4261b0;
}

.facebook-button .fab {
  font-size: 1em;
  color: #fff;
  line-height: 0.875rem;
  margin-right: 10px;
}

.twitter-button {
  background-color: #1da1f2;
}

.twitter-button:hover {
  background-color: #2da8f5;
}
